@media screen and (max-width: 756px){
    .container{
        width: 100%;
    }
    .header-text p{
        margin: 15px 0;
    }
    .nav-ul{
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
    }
    .nav-ul li a{
        font-size: 18px;
    }
}
@media screen and (max-width: 658px){
    .about-block{
        width: 100%;
        margin: 20px 0;
    }
    .about-block{
        padding: 70px 20px;
    }
}
@media screen and (max-width: 480px){
    .prev-btn{
        position: absolute;
        top: 50%;
        left: 10px;
        -webkit-transform: translate(-50%, 50%);
                transform: translate(-50%, 50%);
        border: none;
        background: transparent;
        font-size: 40px;
        z-index: 999;
        font-family: 'Quicksand', sans-serif;
    }
    .next-btn{
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 999;
        -webkit-transform: translate(50%, 50%);
                transform: translate(50%, 50%);
        border: none;
        background: transparent;
        font-size: 40px;
        font-family: 'Quicksand', sans-serif;
    }
}